body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #8A8A8A;
}
a{
	text-decoration: none;
}
h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #618C04;
}

h1 { font-size: 44px; }

h2 { font-size: 18px; }

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
}


a:hover { text-decoration: none; }


#menu {
	display: flex;
	align-items: center;
	gap: 30px;
}

#menu ul{
	display: flex;
	gap: 15px;
	margin: 0;
	justify-content: center;
	align-items: center;
}

#menu ul li{
	list-style: none;
}

#menu ul li a{
	color: white;
}

/* Header */
header{
		padding: 10px 20px;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: #5C4033;
		display: flex;
		justify-content: space-between;
		align-items: center;
		z-index: 99;
	  }



.nav {
	display: flex;
	width: 90vw;
	margin: auto;
}
#search fieldset {
	border: none;
	padding: 0;
}

#search-text{
	width: 300px;
	height: 3vh;
}
#search-submit{
	height: 4vh;
}

/* Page */

#page {
	width: 90vw;
  margin: 0 auto;
  padding: 70px 0px 0px 0px;
  min-height: 100vh;
}


/** LOGO */
#logo{
	flex: 1;
}
#logo a{
	text-decoration: none;
	color: #e1d8cc;
	font-weight: 600;
}

#banner {
	padding-bottom: 20px;
}

/* Content */


/* Post */

.post {
	margin-bottom: 45px;
}

.post .title {
	height: 44px;
	padding-left: 15px;
}

.post .title a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 30px;
	color: #618C04;
}

.post .meta {
	margin-top: -8px;
	margin-left: 2px;
	padding: 0px 30px 2px 15px;
	border-bottom: 1px solid #D4D8CB;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a { }

.post .entry {
	display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.post .links {
	display: block;
	width: 120px;
	height: 20px;
	margin: 0px 0px 0px 0px; 
	padding: 4px 0px 0px 40px;
	background: url(images/img03.gif) no-repeat left top;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}

.post .comments {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px; 
	padding: 3px 0px 0px 40px;
	background: url(images/img07.gif) no-repeat left top;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #961A06;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 240px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
	margin: 0px 14px;
}

#sidebar li li {
	margin: 0;
	padding: 12px 0px;
	border-bottom: 1px solid #E9E8DD;
	background: url(images/img08.gif) no-repeat left 18px;
}

#sidebar li li a {
	padding: 0px 0px 0px 20px;
	font-weight: normal;
	color: #808080;
}

#sidebar li li a:hover {
	color: #77B003;
}

#sidebar p {
	margin: 0;
	padding: 0px 14px;
}

#sidebar h2 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 0 2px 14px;
	background: url(images/img05.gif) repeat-x left top;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	color: #618C04;
}


#sidebar p {
	line-height: 200%;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}

/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */

#footer {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	padding: 0;
	background: #E1E1E1;
}

#footer-bgcontent {
}

#footer p {
	margin: 0;
	padding: 30px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	text-transform: uppercase;
	font-size: 10px;
}

#footer a {
}









.txt{
	border:1px solid #c8c8c8;
	font-family: open sans;
	width: 280px;
	padding: 3px 10px;
	outline: 0;
	border-radius: 4px;
}

.txt:focus{
	border-color: gray;
}

.register, .login, .contact{
	font-family: open sans;
	font-size: 16px;
}

.btn{
	background: linear-gradient(#222,#888);
	color: #fff;
	font-family: open sans;
	font-size: 16px;
	padding: 8px 20px;
	border: none;
	border-radius: 4px;
	outline: 0;
	cursor: pointer;
}

.btn:hover{
	background: #618C04;
}

.login_link a:hover{
	color: #000;
}








/* book_list design */

.book_box{
width: 20vw;
  padding: 10px;
}

.book_box img{
	/*width: 100%;
	height: 200px;
	object-fit: cover; */
	margin-top: 90px;
    width: 200px;
    max-width: 100%;
    height: 300px;
    object-fit: cover;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
}




/* book_detail Design */

.book_img
{
	border: 1px solid #c8c8c8;
	border-radius: 6px;
	padding: 10px;
	box-sizing: border-box;
}

.book_detail
{
	font-family: open sans;
}
.book_detail h1
{
	font-size: 22px;
	font-weight: bold;
	border-bottom: 6px;
	padding-bottom: 6px;
}

.book_detail .desc{
	padding-top: 3px;
}

.book_detail .price{
	padding-top: 3px;
	border-top: 1px dashed gray;
	border-bottom: 1px dashed gray;
	color: red;
	font-weight: bold;
	padding: 0;
	margin: 0;
	margin-bottom: 14px;
}

.book_detail .cart_btn
{
	background: #618c04;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 3px;
}








/* Cart Design */

.cart
{
	font-family: open sans;
	border-top: 1px solid #c8c8c8;
	border-left: 1px solid #c8c8c8;
}

.cart tr td, tr th
{
	text-align: center;
	border-right: 1px solid #c8c8c8;
	border-bottom: 1px solid #c8c8c8;
	padding: 6px;
}

.cart tr th
{
	background-color: #f3f3f3;
	padding: 8px;
	color: black;
}

.btn_refresh
{
	background: #618C04;
	color: #fff;
	font-family: open sans;
	font-size: 12px;
	padding: 6px 12px;
	border: none;
	border-radius: 4px;
	outline: 0;
	cursor: pointer;
	margin-right: 2px;
}

.order
{	
	height: 24px;
	overflow: hidden;
}





/* Pagging */

.pagging
{
	margin-top: 30px;
	text-align: center;
	font-family: open sans;
}

.pagging span
{
	border-radius: 4px;
	margin: 0 3px;
	display: inline-block;
	background: #77B003;
}

.pagging span:hover
{
	background: gray;
}

.pagging span a
{
	display: inline-block;
	padding: 10px 16px;
	color: white;
	text-decoration: none;
}








/* Comment Form */

.comment_form
{

}

.comment_form tr td
{
	padding: 10px;
}

.com_text
{
	border: 1px solid #c8c8c8;
	border-radius: 4px;
	box-sizing: border-box;
	width: 100%;
	padding: 6px 10px;
	font-family: open sans;
	outline: 0;
	resize: none;
}

.com_btn
{
	background: #618c04;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 8px 15px;
	display: inline-block;
	border-radius: 2px;
	cursor: pointer;
}

.com_btn
{
	background: black;
}

.error
{
	color: red;
}

#book-content .entry{
	display: flex;
	gap: 3em;
}
.book_img{
  width: 100% !important;
  object-fit: cover;
}
.review-box{
	background: aliceblue;
  padding: 10px;
  margin: 10px 0;
}
.review-row{
	margin-top: 10px;
}

#book-content .description form{
	width: 30vw;
}
#book-content .description textarea{
	width: 100%;
	margin: 10px 0;
}

#login-content{
  height: 90vh;
  display: grid;
  place-content: center;
  background: url('images/bg.jpg')no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(5px);
}

#login-content .post{
	padding: 20px;
	background-color: #000000a6;
}
.post a{
	color: #E9E8DD;
}

.post a:hover{
	color: #f5e648;
}
.img_wrapper{
	max-width: 40%;
	width: 30%;
}